<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
  </body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!---->
<!--</head>  -->
<!--  <!--<%- include('./partials/head.ejs') %>-->-->
<!--  <body>-->
<!--   <!--<%- include('./partials/header.ejs') %>-->-->
<!--   <!--<%- include('./partials/nav.ejs') %>-->-->
<!--   <!-- <div>article bitch</div>-->-->
<!--   <!--<h1>List of Files</h1>-->-->
<!--   <!-- <div class="files-container">-->-->
<!--   <!--     <% files.forEach(file => { %>-->-->
<!--   <!--         <div class="file-item" onclick="showFileContents('<%= file.filename %>')">-->-->
<!--   <!--             <%= file.filename %>-->-->
<!--   <!--             <div class="file-content" id="content-<%= file.filename %>">-->-->
<!--   <!--                 <!-- File content will be shown here -->-->-->
<!--   <!--             </div>-->-->
<!--   <!--         </div>-->-->
<!--   <!--     <% }); %>-->-->
<!--   <!-- </div>-->-->
<!--   <!---->-->
<!--   <!-- <%- include('./partials/footer.ejs') %>-->-->
<!--   <!---->-->
<!--   <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->-->
<!--   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>-->-->
<!--   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->-->
<!--   <!-- <script src="js/article.js"></script>-->-->
<!--  </body>-->
<!---->
<!--</html>-->
